# The requirements listed here are for development. 
# Requirements of your napari plugin should be listed in setup.cfg
# See also: https://caremad.io/posts/2013/07/setup-vs-requirement/

napari
scikit-image
vedo>=2022.4.1
napari-tools-menu>=0.1.14
napari-time-slicer>=0.4.5
napari-workflows>=0.2.3
napari-skimage-regionprops>=0.5.5
pandas
imageio!=2.22.1
stackview>=0.5.2
-e .
